@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


#app {
    font-family:'Orbitron', sans-serif;
    font-size: x-large;
    font-weight:900;
}

.wrapper {
    height: 100vh;
    width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.inner_header {
    width: 100%;
    height: 100px;
    display: block;
    border-bottom: 1px solid greenyellow;
   
}

.nav {
    float: none;
    height: 100%;
    a {
        height: 100%;
        display: table;
        float: left;
        padding: 0px 20px;
        li {
            display: table-cell;
            vertical-align: middle;
            color: greenyellow;           
        }
        li:hover {
            color: rgb(255, 179, 47);
        }    
    }
}

// body

#svg {
    display: block;
    margin: 0 auto;
    max-width: 900px;
    max-height: 700px;
}


.inner_main {
    margin-top: 0px;
    width: 100%;
    height: 100vh;
    
    
}



.about {
    float: left;
    text-align: center;
}



  
// footer
footer {
    height: 100px;
    text-align: center;
    border-top: 1px solid greenyellow;
}


.inner_footer {
    width: 600px;
    height: 100%;
    display: block;
    margin: 0 auto;
    padding-top: 25px;
    
}

.foo {
    float: none;
    height: 100%;
    margin: 0 auto;
    
}

.foo a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    
}


.foo a li{
    display: table-cell;
    vertical-align: middle;
    color: greenyellow;
    
}

@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    .nav a {
        float: none;
        display: block;
    }
    
    .main, .skills, #d3-graph {
      width: 100%;
    }
  }